<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="zend-code Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>

        <!-- Enable this if you have installed Doctrine\Common on the
             include_path or via Composer. -->
        <env name="TESTS_ZEND_CODE_ANNOTATION_DOCTRINE_SUPPORT" value="false" />
    </php>
</phpunit>
