<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="zend-code Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>

        <!-- Enable this if you have installed Doctrine\Common on the
             include_path or via Composer. -->
        <env name="TESTS_ZEND_CODE_ANNOTATION_DOCTRINE_SUPPORT" value="false" />
    </php>
</phpunit>
